
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  /* z-index: 5; */
}

body{
  font-family: 'IBM Plex Sans', sans-serif;
}
.mobile-on{
  display: none;
}


.button-md-sz{
  font-size: 2rem;
  font-weight: 600;
  background-color: #484872;
  color: #fff;
  padding: 2rem 3rem;
  border-radius: 4rem;
  margin: 2rem 0rem;
  cursor: pointer;

}
.button-md-sz:hover{
  background-color: rgba(4, 9, 30, 0.2);
  color: #484872;
  border: 3px solid #484872;
  transition: .5s;
}

/* <!------------------ Intro -----------------> */

.intro{
  background-image:linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
  url(img/Travel-fold-header.jpg);
  background-position: bottom;
  background-size: cover;
  padding: 7rem 10rem;
  display: flex;
  justify-content: space-around;
  justify-content: flex-start;
  align-items: center;
  color: #fff;
  margin-bottom: 3.5rem;
}

.intro-content-1-para{
  font-size: 2rem;
  margin-bottom: 3rem;
}

.intro-content-2-para{
  font-size: 10rem;
  font-weight: 700;
  margin-bottom: 3rem;
}


hr.white-hr{
  height: .7rem;
  border-width: 0;
  color: #fff;
  background-color: #fff;
  width: 40%;
  border-radius: .5rem;
  margin-bottom: 2rem;
}

.hr-intro{
  background-color: #fff;
  color: #fff;
}
.hr-intro hr{
  height: .7rem;
  border-width: 0;
  color: #fff;
  background-color: #fff;
  width: 40%;
  border-radius: .5rem;
  margin-bottom: 2rem;

}
.intro-content-3-para{
  font-size: 2rem;
  margin-bottom: 1rem;
}


.book-now-lg-btn{
  padding: 1.5rem 20rem;
  font-size: 3rem;
  font-weight: 600;
  background-color:#1e54b0;
  color: #fff;
  border: none;
  border-radius: .5rem;

}

/* ------------ common classes--------------- */


.heading{
  text-align: center;
  /* padding:2.5rem 0 */
  /* margin-bottom: 5rem; */
  margin: 7rem auto;
}

.heading span{
  font-size: 4rem;
  background:rgba(4, 9, 30, 0.4);
  color: #484872;
  border-radius: .5rem;
  padding:.2rem 1rem;
  text-transform: uppercase;
}

.heading span.space{
  background:none;
}




/* ---------- Upcoming tours and destination--------------- */

.section-container{
  display: flex;
  padding: 0rem 10rem;
  padding-bottom: 0;
  justify-content: space-around;
  align-items: center;
  gap: 1.5rem;
  /* margin-bottom: 5rem; */
}
.left-col{
  width: 40%;
  text-align: left;

}

.left-col h1{
  font-size: 5rem;
  color: #484872;
  margin-bottom: 2rem;
  line-height: 6rem;
  text-align: left;
}

.left-col p{
  font-size: 3rem;
  color: #777;
  margin-bottom: 2rem;
  text-align: left;
}
.group-travel-description-list{
  font-size: 2.5rem;
  color: #777;
  margin-bottom: 1rem;
  margin-left: 3rem;
  text-align: left;
}
.left-col-additional-css{
  width: 80%;
  margin: 0 auto;
}

/* .right-col{
  text-align: center;
} */

.box{
  max-width: 30em;
}

.upcoming-tours-additional-css{
  padding-bottom: 0;
}


/* .grid-1{
  grid-area: top-left;
}
.grid-2{
  grid-area: top-right;
}
.grid-3{
  grid-area: bottom-left;
}
.grid-4{
  grid-area: bottom-right;
}
.image-gallery{
  display: grid;
  grid-template-areas:
  'top-left top-right'
  'bottom-left bottom-right';
  grid-gap: 2rem;
  align-items: center;
  justify-items: center;
}


.image-gallery .box{
  overflow: hidden;
  box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
  border:1rem solid #fff;
  border-radius: .5rem;
  flex:1 1 25rem;
  height: 30rem;
  position: relative;
  box-shadow: 0 1rem 2rem rgba(0,0,0,.5);
}

.image-gallery .box img{
  height: 100%;
  width:100%;
  object-fit: cover;
}

.image-gallery .box .content{
  position: absolute;
  top:-100%; left:0;
  height: 100%;
  width:100%;
  text-align: center;
  background:rgba(0,0,0,.4);
  padding:2rem;
  padding-top: 5rem;
}

.image-gallery .box:hover{
  transition: .8s;
  transform: scale(1.08);
  box-shadow: 0px 0px 2rem 1px#484872;
}

.image-gallery .box:hover .content{
  top:0;
}

.image-gallery .box .content h3{
  font-size: 2.5rem;
  color: #fff;
}

.image-gallery .box .content p{
  font-size: 1.5rem;
  color:#eee;
  padding:.5rem 0;
} */

/* SLIDER */
.slider {
  max-width: 80%;
  height: 40rem; 
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  margin-bottom: 2rem;
}

.slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 30rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-around;
  margin: auto 0;
  transition: transform 1s;
}

.slide3 {
  /* position: absolute; */
  /* top: 0; */
  /* bottom: 0; */
  /* margin: auto auto; */
  width: 100%;
  height: 40rem;
  /* display: flex; */
  /* align-items: center; */
  /* gap: 1rem; */
  /* justify-content: space-around; */
  transition: transform 1s;
}

.slider__btn {
  position: absolute;
  top: 20rem;
  margin: auto auto;
  z-index: 10;

  border: none;
  background: rgba(255, 255, 255, 0.5);
  font-family: inherit;
  /* color: #b3b3b3; */
  color: #484872;
  border-radius: 50%;
  height: 6rem;
  width: 6rem;

  font-size: 3.25rem;
  cursor: pointer;
}

.slider__btn--left {
  left: 3rem;
  transform: translate(-50%, -50%);
}

.slider__btn--right {
  right: 3rem;
  transform: translate(50%, -50%);
}

.dots {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.dots__dot {
  border: none;
  background-color: #484872;
  opacity: 0.7;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  margin-right: 1.75rem;
  cursor: pointer;
  transition: all 0.5s;
}

.dots__dot:last-child {
  margin: 0;
}

.dots__dot--active {
  background-color: rgba(4, 9, 30, 0.4);
  opacity: 1;
}


.slide img{
  max-width: 26rem;
  height: 80%;
}

.box{
  overflow: hidden;
  box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
  border:1rem solid #fff;
  border-radius: .5rem;
  height: 30rem;
  position: relative;
  box-shadow: 0 1rem 2rem rgba(0,0,0,.5);
}
.slide3-box{
  /* height: 40rem; */
}

.box img{
  height: 100%;
  width:100%;
  object-fit: fill;
}

.box .content{
  position: absolute;
  top:0%;
  left:0;
  height: 100%;
  width:100%;
  text-align: left;
  background: linear-gradient(to right, rgba(0,0,0,.5) , rgba(0,0,0,.1));

  padding: 1.5rem 1rem;
}

.box:hover{
  
  transform: scale(1.08);
  box-shadow: 0px 0px 2rem 1px#484872;
  transition-timing-function: ease-in-out;
  transition: .8s;
}



.box .content h3{
  font-size: 2.5rem;
  color: #fff;
}

.box .content p{
  font-size: 1.5rem;
  color:#eee;
  padding-left: 1.5rem;
}


.sm-book-btn{
  background-color: #484872;
  color: #fff;
  border-radius: 3px;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  position: absolute;
  bottom: 2rem;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;

}
.sm-book-btn:hover{
  color: #fff;
  border: 2px solid #fff;
  background-color: rgba(4, 9, 30, 0.2);

  transition: .5s;
}

.box .content button{
  display: none;
  transition-timing-function: ease-in-out;
  transition: .8s;
}

.box:hover .content button{
  display: block;
  transition: .5s;
  transition-timing-function: ease-in-out;
}



.sm-book-btn{
  background-color: #484872;
  color: #fff;
  border-radius: 3px;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  position: absolute;
  bottom: 2rem;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;

}
.sm-book-btn:hover{
  color: #fff;
  border: 2px solid #fff;
  background-color: rgba(4, 9, 30, 0.2);

  transition: .5s;
}

#section--2{
  display: none;
}

#section--3{
  display: none;
}

/* ---------------- Book now ------------------- */

.book-now{
  width: 35%;
  padding:2rem;
  text-align: center;
  border-radius: .5rem;
  font-size: 2rem;
  box-shadow: 0 1rem 2rem rgba(0,0,0,.5);
}
.book-heading{
  margin-top: 3rem;
}

.book-now:hover{
  
  transition: .5s;
  transform: scale(1.05);
}

.book-now .inputBox{
  padding:.5rem 0;
  /* margin: 1rem 0; */
}

.two-entries{
  display: flex;
  justify-content: space-between;
}
.two-entries .first-entry{
  width: 49%;
}

.two-entries .second-entry{
  width: 49%;
}

.book-now .inputBox input{
  width:100%;
  padding:1rem;
  border:.1rem solid rgba(0,0,0,.1);
  font-size: 1.7rem;
  color:#333;
  text-transform: none;
}


.book-now .inputBox h3{
  font-size: 2rem;
  padding:1rem 0;
  color:#666;
  text-align: left;
}

.book-btn-additional-css{
  font-size: 3rem;
  padding: 1rem 2rem;
  margin: 2rem;
}
.left-col ol li:last-child{
  margin-bottom: 3rem;
}

/* ---------------About us ------------------ */
.about-us{
  text-align: center;
}

.section-container-additional-css{
  flex-direction: row-reverse;
  /* margin-bottom: 8rem; */
  
}

.knw-more-img{
  width: 50rem;
  height: 40rem;

  width: 30%;
  height: 40rem;

  box-shadow: 0 1rem 2rem rgba(0,0,0,.7);
  background-image:linear-gradient(rgba(4, 9, 30, 0.1), rgba(4, 9, 30, 0.1)),
  url(img/about-us-1.jpeg);
  /* background-image: url(img/about-us-1.jpeg); */
  background-position: center;
  background-size: cover;
  
}
.knw-more-img:hover{
  transform: scale(1.05);
}

.knw-more{
  margin-bottom: 0;
}



/* ----------------- About us hidden ------------------- */
.full-knw-more-container{
  margin: 0 auto;
  width: 90%;
  text-align: left;
}
.full-knw-more-container h1{
  font-size: 5rem;
  color: #484872;
  margin: 0 auto;
  /* width: 100%; */
  margin-bottom: 2rem;
  line-height: 6rem;
  text-align: left;
  
}

.full-knw-more-container p{
  font-size: 3rem;
  color: #777;
  margin-bottom: 2rem;
  
}

/* ---------------- Contact us ---------------- */

.contact .row{
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
  align-items: center;
}

.contact .row .image{
  flex:1 1 35rem;
}

.contact .row .image img{
  width:100%;
}

.contact .row form{
  flex:1 1 50rem;
  padding:2rem;
  box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
  border-radius: .5rem;
}

.contact .row form .inputBox{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact .row form .inputBox input, .contact .row form textarea{
  width:49%;
  margin:1rem 0;
  padding:1rem;
  font-size: 1.7rem;
  color:#333;
  background:#f7f7f7;
  text-transform: none;
}

.contact .row form textarea{
  height: 15rem;
  resize: none;
  width:100%;
}

/* ------------ Contact Us ------------------ */
#feedback-message{
  display: block;
  width: 100%;
  padding: 1rem 1rem;
  font-size: 1.5rem;
}

.contact-us-btn{
  text-decoration: none;
  margin-bottom: 3rem;
  display: inline-block;
}

#feedback-message-area{
  width: 100%;
  padding: 0 1rem;
  margin: 0 auto;
  height: 10rem;
}

.feedback-container{
  margin-bottom: 5rem;
}
/* ----------------- media ------------------- */



/* ------------Upcoming section ---------------- */
@media(min-width: 1200px){
  html{
    font-size: 9px;
  }
}

@media(max-width: 1200px){
  html{
    font-size: 8px;
  }
  .section-container{
    display: block;
  }
  .left-col{
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }
  .right-col{
    width: 100%;
    margin: 0 auto;
  }
  .book-now{
    width: 60%;
    margin: 0 auto;
  }
  
  .box{
    max-width:40rem;
  }
  
  .knw-more-img {
    margin: 0 auto;
    margin-bottom: 3rem;
    width: 60%;
  }

  .left-col p{
    margin-bottom: 3rem;
  }
  .heading{
    padding-bottom: 0;
  }

}

@media(max-width: 750px){
  html{
    font-size: 7px;
  }
  .box{
    max-width: 35em;
  }
  .book-now{
    width: 80%;
    margin: 0 auto;
    margin-bottom: 2rem;
  }
  .knw-more-img {
    margin: 0 auto;
    margin-bottom: 3rem;
    width: 80%;
  }
  .mobile-off{
    display: none;
  }
  .mobile-on{
    display: inline;
  }
  #section--1{
    display: none;
  }
  #section--2{
    display: block;
  }
}

@media(max-width: 650px){
  .section-container{
    padding: 5rem 5rem;
    padding-top: 0;
    padding-bottom: 0;
  }
  .image-gallery{
    display: block;
  }
  .box{
    margin: 0 auto;
    max-width: 40rem;
  }
  .intro-content-2-para{
    font-size: 7rem;
  }
}

.hidden{
  display: none;
}

@media(max-width: 420px){
  html{
    font-size: 5px;
  }
  .intro-content-2-para{
    font-size: 5rem;
  }
  #section--2{
    display: none;
  }
  #section--3{
    display: block;
  }
  .slide img{
    max-width: 100%;
    margin: 0 auto;
    height: 100%;
  }
}
